.cls-content-page {
    padding: 10px 35px;

    table{
        width: 100%;
    }
}

.cls-mayor{
    background: red;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
}

.cls-menor{
    background: green;
    color: white;
    font-size: 12px;
    font-weight: bold;
}