<div class="cls-content-page">
    <div
      style="
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
      "
    >
  
      <span
        class="cls-button-circle"
        style="position: relative; top: -10px"
        (click)="changeShowForm()"
        >+</span
      >
    </div>

<div class="cls-form" [formGroup]="formPropietario" *ngIf="showForm">
    <div class="cls-field">
        <label for="">Identificacioó:</label>
        <input type="text" formControlName="idPropietario" />
      </div>
  
    <div class="cls-field">
      <label for="">Nombre:</label>
      <input type="text" formControlName="nombre" />
    </div>

    <div class="cls-field">
        <label for="">Apellido:</label>
        <input type="text" formControlName="apellido" />
      </div>
  
    <div class="cls-field">
      <label for="">Teléfono:</label>
      <input
        type="text"
        placeholder="+57 00 00 00"
        formControlName="telefono"
      />
    </div>

    <div class="cls-field">
      <label for="">Fecha de nacimiento:</label>
      <input type="date" formControlName="fechaNacimiento" />
    </div>

    <div class="cls-field">
      <label for="">Contraseña:</label>
      <input type="password" formControlName="contrasena" />
    </div>

    <div class="cls-field">
      <label for="">Sede:</label>
      <select name="" id="" formControlName="idSede" ng-style="{'width': getMaxLength() + 'px'}">
        <option *ngFor="let sede of dataSedes" [value]="sede.idSede">
          {{ sede.nombre }}
        </option>
      </select>
    </div>

    <button
      *ngIf="modeForm == 'adicion'"
      (click)="savePropietario()"
      style="color: #fff !important"
      mat-button
      color="primary"
    >
      Agregar
    </button>

    <button
      *ngIf="modeForm == 'edicion'"
      (click)="updatePropietario()"
      style="color: #fff !important"
      mat-button
      color="primary"
    >
      Guardar
    </button>
</div>



<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <h4><b>Gestión de Propietarios</b></h4> 
          </div>  
  
          <table id="customers">
            <thead>
               <tr class="center-align" >
                 <th>Cedula</th>
                 <th>Nombre</th>
                 <th>Apellido</th>
                 <th>Telefono</th>
                 <th>Fecha de Nacimiento</th>
                 <th>Sede</th>
                 <th>Acciones</th>
               </tr>
             </thead>
             <tbody >
               <tr  *ngFor="let propietario of dataSource" class="center-align" >
                 <td>{{ propietario.idPropietario }}</td>
                 <td>{{ propietario.nombre }}</td>
                 <td>{{ propietario.apellido }}</td>
                 <td>{{ propietario.telefono }}</td>
                 <td>{{ propietario.fechaNacimiento | date:'yyyy-MMM-dd'}}</td>
                 <td>{{ propietario.idSede }}</td>
                 <!-- <td>{{ getSede(propietario.idSede) }}</td> -->
                 <!-- <td>{{ getSedeId(propietario.idSede) }}</td> -->
                 
                 <td>
                    <a class="cls-link" (click)="deletePropietario(propietario.idPropietario)">Eliminar</a> |
                    <a class="cls-link" >Editar</a> |
                 </td>
 

                </tr>
               <tr>
                 <td *ngIf="dataSource.length == 0" colspan="6">No Employee Found</td>
               </tr>
             </tbody>
       </table>    
        </div>   
      </div>
</div> 